//-
extends layout

block head
  script(src="https://accounts.google.com/gsi/client", async, defer)
  

block content
  script(src="/javascripts/auth.js")

  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href='/') Start Bootstrap
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home
              span.sr-only (current)

  div.container
    div.row
      div.col-md-4.offset-md-4
        div.card
          div.card-body
            div.text-center.mb-3
              h3 Login
            div(id="g_id_onload",
            data-client_id="1002985450292-dgq7n1gmo12l81ufbbaqspcn1id9cqfm.apps.googleusercontent.com",
            data-callback="onSignIn")

            div(class="g_id_signin",
            data-type="standard",
            data-ux_mode="popup"
            data-shape="pill",
            data-theme="filled_blue",
            data-text="signin_with",
            data-size="medium",
            data-width="40",
            data-logo_alignment="left")

            a(href="/logout") Sign out

            
    
    

